color1{
    color: #F5E1C8;
}
color2{
    color: #F5F5DC;
}
color3{
    color: #C0A080;
}
color4{
    color: #1B4D3E;
}
color5{
    color: #355E3B;
}
color6{
    color: #A79277;
}


:root {
   
    --bg-dark: #111111;
    --bg-form: #1a1a1a;
    --bg-button-default: #bbbbbb;
  
  
    --text-light: #dddddd;
    --text-white: #ffffff;
    --text-green: #355E3B;
    --text-orange: #ff8000;
  
    --accent-green: #355E3B;
    --accent-green-soft: #355E3B55; 
    --border-form: #333333;
  
    --icon-green: #6fcf97;
  }
  