body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #ffffff;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    width: 100%;
    padding: 20px;
}
.illustration {
    flex: 1;
    text-align: center;
}

.illustration img {
    max-width: 100%;
    height: auto;
}

.form-section {
    flex: 1;
    padding: 40px;
}

.form-section h2 {
    margin-bottom: 5px;
}

.form-section p {
    margin-top: 0;
    margin-bottom: 20px;
}

.form-section p a {
    color: green;
    text-decoration: none;
    font-weight: bold;
}

.form-section input {
    border-radius: 6px;
    border-width: 1px;
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 16px;
}

.form-section .phone-input {
    display: flex;
    gap: 10px;
}

.form-section .phone-input select{
    border-radius: 6px;
    flex: 0 0 70px;
    padding: 12px;
    margin: 8px 0;
    font-size: 16px;
    box-sizing: border-box;
}
.form-section .phone-input input {
    flex: 1;
    padding: 12px;
    font-size: 16px;
    box-sizing: border-box;
}

form {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }

.confirm-btn {
    border-radius: 6px;
    width: 100%;
    padding: 12px;
    background-color: #ccc;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.confirm-btn:hover {
    color: #fff;
    background-color: #355E3B;
    transition: 0.25s;
  }

.form-section small {
    display: block;
    margin-top: 10px;
    color: gray;
    font-size: 13px;
}
